spring:
  application:
    name: stock-trading-server

  datasource:
    url: jdbc:postgresql://localhost:5432/interactive_tool
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: "Adm!n123$"
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

grpc:
  server:
    port: 9090
    enable-reflection: true

